
div.student-info{
   line-height: 1em;
   margin-top: -20px;
   
}
div.student-info table td
{
    color: darkslategray;
    font-weight: bold;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.results-table th{
    padding: 0.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

div.results-table td{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: auto;
    font-size: 1em;
    font-weight: 500;
}




